{% extends 'base.html' %} {% block content %} {% if response %}

<pre>
<code class=" line-numbers language-{{ lang }}">
  {{response}}

</code>
</pre>

<br /><br />

<form method="POST" action="{% url 'suggest' %}">
  {% csrf_token %}

  <div class="mb-3">
    <textarea
      class="form-control"
      name="code"
      placeholder="Have AI fix my Code."
      rows="3"
    >
      {{ code }}</textarea
    >
    <br />
    <select class="form-select" name="lang">
      <option selected>Select your Programming Language</option>
      {% for lang in lang_list %}
      <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
    </select>
    <br />
    <br />
  </div>
  <button type="submit" class="btn btn-success">Done</button>
</form>

<br />

{% else %}

<pre>
<code class=" line-numbers language-python">
if name== "Hanzala":
    print("Hello Hanzala!")
else:
    print("Hello")
</code>
</pre>

<br /><br />

<form method="POST" action="{% url 'suggest' %}">
  {% csrf_token %}

  <div class="mb-3">
    <textarea
      class="form-control"
      name="code"
      placeholder="Write any code you want"
      rows="3"
    ></textarea>
    <br />
    <select class="form-select" name="lang">
      <option selected>Select your Programming Language</option>
      {% for lang in lang_list %}
      <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
    </select>
    <br />
    <br />
  </div>
  <button type="submit" class="btn btn-success">Done</button>
</form>

<br />

{% endif %} {% endblock %}
