{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %} {% if response %}

<pre>
<code class=" line-numbers language-{{ lang }}">
  {{response}}

</code>
</pre>

<br /><br />

<form method="POST" action="{% url 'suggest' %}">
  {% csrf_token %}

  <div class="mb-3">
    <textarea
      class="form-control"
      name="code"
      placeholder="Write any code you want"
      rows="3"
    >
      {{ code }}</textarea
    >
    <br />
    <select class="form-select" name="lang">
      <option selected>Select your Programming Language</option>
      {% for lang in lang_list %}
      <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
    </select>
    <br />
    <br />
  </div>
  <button type="submit" class="btn btn-success">Done</button>
</form>

<br />

{% else %}

<pre>
<code class=" line-numbers language-python">
if name== "CodeBot":
    print("Hello CodeBot!")
else:
    print("Bye!")
</code>
</pre>

<br /><br />

<form method="POST" action="{% url 'suggest' %}">
  {% csrf_token %}

  <div class="mb-3">
    <textarea
      class="form-control"
      name="code"
      placeholder="Write any code you want"
      rows="3"
    ></textarea>
    <br />
    <select class="form-select" name="lang">
      <option selected>Select your Programming Language</option>
      {% for lang in lang_list %}
      <option value="{{ lang }}">{{ lang }}</option>
      {% endfor %}
    </select>
    <br />
    <br />
  </div>
  <button type="submit" class="btn btn-success">Done</button>
</form>

<br />

{% endif %} 

{% else %}

<div class="col-md-6 offset-md-3">
  <h1>Login</h1>
  <br>
  <br>
  <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Username" name="username">
        <br>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Enter Password" name="password">
        <br>
      </div>
      <br>

      <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>

{% endif %}

{% endblock %}
